.events-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
    border-radius: 5px;
    margin: 140px 20px;
  }
  
.events-page{
    padding: 20px;

}

  /* Media query for smaller screens */
  @media (max-width: 480px) {
    .events-page {
      padding: 10px;
    }
  }