.events-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 140px 20px;
  }
  
  .event-card {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .event-card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  .event-card p {
    margin: 5px 0;
    color: #666;
  }
  
  .event-card p:first-child {
    margin-top: 0;
  }
  
  .event-card p:last-child {
    margin-bottom: 0;
  }
  
  .events-page p {
    font-size: 16px;
    color: #666;
    text-align: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 480px) {
    .events-page {
      padding: 10px;
    }
  }